@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* @font-face {
  font-family: "aptos";
  src: url("./fonts/aptos.ttf") format("truetype");
} */

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: #ffffe1; /* #1a1a19;  #494F49 */
  position: relative;
  background-color: #101111;
  overflow-x: hidden;
}

.debug {
  outline: 2px solid red;
}

::-webkit-scrollbar {
  width: 8px; /* Thin width */
  background: transparent; /* Hide scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 224, 75, 0.4); /* Green color for the scroll indicator */
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 224, 75, 0.4) transparent; /* Green thumb, no track */
}

li {
  transition: all 0.2s ease; /* Apply transition to both */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the canvas is behind other elements */
}

b {
  font-weight: 600;
}

.green-wash {
  display: inline-block;
  color: transparent;

  background: linear-gradient(
    90deg,
    #ffffe1 0%,
    #ffffe1 30%,
    rgb(90, 188, 132) 50%,
    #ffffe1 70%,
    #ffffe1 100%
  );

  background-size: 300%;
  background-position: 100%; /* Start at the right */
  -webkit-background-clip: text;
  background-clip: text;
}

.wave-animate {
  animation: wave 0.75s ease-out forwards;
}

@keyframes wave {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
